[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name="medipt"
version="0.0.2"
authors=[
    {name="Geoff Klein"},
]
license={text="BSD 3-Clause"}
description="Stuff"
readme="README.md"
requires-python=">=3.7"
dynamic = ["dependencies"]
keywords=[
    "medical-imaging",
]

[tool.setuptools]
packages = ["MedIPT"]

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}


[tool.yapf]
based_on_style = "pep8"
split_before_named_assigns = false
blank_line_before_nested_class_or_def = false


[tool.isort]
multi_line_output = 3
include_trailing_comma = true
skip = [".gitingore", "__init__.py"]


[project.urls]
repository="https://github.com/kleingeo/ImageProcessingTools"
